<!DOCTYPE html>
<html ng-app="ElectronicQueue">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Запись на лицензирование и аккредитацию образовательной деятельности образовательных организаций</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/select.css" rel="stylesheet">
    <link href="css/select2.min.css" rel="stylesheet" />
</head>
<body ng-cloak>
    <div class="container" ng-cloak ng-controller="ElectronicQueueCtrl">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <p style="color: #286090">
                        Запись на лицензирование и аккредитацию образовательной деятельности образовательных организаций
                    </p>
                </h4>
            </div>
        </div>
        <div class="row" ng-show="!isFormPart3">
            <form class="form-horizontal" id="electronicQueueForm" name="electronicQueueForm" novalidate ng-submit="submitForm()">
                <div class="form-group">
                    <label for="serviceType" class="col-md-2 control-label">Тип услуги:</label>
                    <div class="col-md-5" id="serviceType" data-name="serviceType">
                        <input name="serviceType" ng-change="refreshQueueReasons()" ng-disabled="noTimeOrFormPart2()" ng-model="fields.serviceType" value="license" type="radio">
                        <span>Лицензирование</span>
                        <input name="serviceType" ng-change="refreshQueueReasons()" ng-disabled="noTimeOrFormPart2()" ng-model="fields.serviceType" value="accreditation" type="radio">
                        <span>Аккредитация</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Тип обращения:</label>
                    <div class="col-md-5">
                        <select name="queueReason" ng-model="fields.queueReason" ng-required="true" ng-disabled="noTimeOrFormPart2()"
                                ng-change="getServiceBasis()" theme="bootstrap" class="form-control">
                            <option ng-repeat="reason in queueReasons" value="{{reason.code}}">{{::reason.name}}</option>
                        </select>
                        <span style="color: red" ng-show="submitted && electronicQueueForm.queueReason.$error.required" class="ng-hide">
                            Необходимо заполнить поле!
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Основание услуги:</label>
                    <div class="col-md-5">
                        <select name="serviceBasis" ng-model="fields.serviceBasis" ng-required="true" ng-disabled="noTimeOrFormPart2()"
                                ng-change="getLicenseReasons()" theme="bootstrap" class="form-control">
                            <option ng-repeat="basis in serviceBasises" value="{{basis.code}}">{{::basis.title}}</option>
                        </select>
                        <span style="color: red" ng-show="submitted && electronicQueueForm.serviceBasis.$error.required" class="ng-hide">
                            Необходимо заполнить поле!
                        </span>
                    </div>
                </div>

                <div class="form-group ng-hide" ng-show="isQueueReasonTeq1()">
                    <label for="licenseReasons" class="col-md-2 control-label">Выберите причину обращения:</label>
                    <div class="col-md-10">
                        <div class="" id="licenseReasons">
                            <div class="" ng-repeat="item in licenseReasons">
                                <input value="{{item.code}}" ng-disabled="noTimeOrFormPart2()" ng-model="fields.licenseReasons[item.code]" type="checkbox">
                                <span>{{item.title}}</span>
                            </div>
                            <span style="color: red" ng-show="submitted && licenseReasonsErrors()" class="ng-hide">
                                Необходимо выбрать хотя бы одну причину
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-hide="noTimeOrFormPart2() && !fieldsForNewOrg()">
                    <label for="inn" class="col-md-2 control-label">ИНН ОО:</label>
                    <div class="col-md-10">
                        <input type="text" id="inn" ng-model="fields.inn" name="inn" ng-disabled="noTimeOrFormPart2()" ng-change="refreshOrgs()"/>
                    </div>
                </div>

                <div class="form-group" ng-hide="fieldsForNewOrg()">
                    <label class="col-md-2 control-label">Название ОО:</label>
                    <div class="col-md-5">
                        <select class="orgs-selectbox form-control" theme="bootstrap" ng-disabled="noTimeOrFormPart2()" ng-required="!fieldsForNewOrg()" ng-model="fields.org"></select>
                        <span style="color: red" ng-show="submitted && electronicQueueForm.org.$error.required" class="ng-hide">
                            Необходимо заполнить поле!
                        </span>
                    </div>
                </div>

                <div class="form-group" ng-show="fieldsForNewOrg()" class="ng-hide">
                    <label class="col-md-2 control-label">Название ОО:</label>
                    <div class="col-md-5">
                        <input class="form-control" theme="bootstrap" ng-disabled="noTimeOrFormPart2()" ng-required="fieldsForNewOrg()" ng-model="fields.orgTitle" />
                        <span style="color: red" ng-show="submitted && electronicQueueForm.orgTitle.$error.required" class="ng-hide">
                            Необходимо заполнить поле!
                        </span>
                    </div>
                </div>

                <div class="form-group" ng-show="fieldsForNewOrg()" class="ng-hide">
                    <label class="col-md-2 control-label">Полное название ОО:</label>
                    <div class="col-md-5">
                        <input class="form-control" theme="bootstrap" ng-disabled="noTimeOrFormPart2()" ng-required="fieldsForNewOrg()" ng-model="fields.orgFullTitle" />
                        <span style="color: red" ng-show="submitted && electronicQueueForm.orgFullTitle.$error.required" class="ng-hide">
                            Необходимо заполнить поле!
                        </span>
                    </div>
                </div>

                <div class="form-group ng-hide" ng-show="isQueueReasonTeq1OrTeq3()">
                    <label for="branchesCount" class="col-md-2 control-label">Количество филиалов:</label>
                    <div class="col-md-4">
                        <input type="text" id="branchesCount" ng-disabled="noTimeOrFormPart2()" ng-model="fields.branchesCount" name="branchesCount" ng-required='isQueueReasonTeq1OrTeq3()'/>
                        <br>
                        <span style="color: red" ng-show="submitted && electronicQueueForm.branchesCount.$error.required" class="ng-hide">
                            Необходимо заполнить поле!
                        </span>
                    </div>
                    <span class="col-md-2">Количество филиалов, подаваемых в заявлении</span>
                </div>

                <div class="form-group ng-hide" ng-show="isQueueReasonTeq1OrTeq3()">
                    <label class="col-md-2 control-label">Количество программ:</label>
                    <div class="col-md-4">
                        <select name="numberOfPrograms" ng-model="fields.numberOfPrograms" ng-disabled="noTimeOrFormPart2()" theme="bootstrap"
                                class="form-control" ng-required="isQueueReasonTeq1OrTeq3()">
                            <option ng-repeat="program in programsNumbersList track by $index" value="{{program.code}}">{{::program.title}}</option>
                        </select>
                        <span style="color: red" ng-show="submitted && electronicQueueForm.numberOfPrograms.$error.required" class="ng-hide">
                            Необходимо заполнить поле!
                        </span>
                    </div>
                    <span class="col-md-2">Количество программ, подаваемых в заявлении</span>
                </div>

                <div class="form-group ng-hide" id="isCheckNeeded" ng-show="isQueueReasonTeq1OrTeq3()">
                    <label class="col-md-2 control-label" for="isCheckNeeded">
                        Требуется ли сверка?
                    </label>
                    <div class="col-md-10">
                        <!--<input name="isCheckNeeded" ng-model="isCheckNeeded" ng-disabled="isformPart2" type="checkbox" ng-required="isQueueReasonTeq1OrTeq3()">-->
                        <input name="isCheckNeeded" ng-model="isCheckNeeded" ng-disabled="noTimeOrFormPart2()" type="checkbox">
                        <span class="ei-checkbox-title">В составе заявления присутствуют ли документы, требующие
                            сверки данных с оригиналом (незаверенные нотариально)</span>
                    </div>
                </div>

                <div class="form-group ng-hide" ng-show="isCheckNeeded && isQueueReasonTeq1OrTeq3()">
                    <label class="col-md-2 control-label">Количество документов для сверки:</label>
                    <div class="col-md-5">
                        <select name="numberOfDocuments" ng-model="fields.numberOfDocuments" ng-disabled="noTimeOrFormPart2()" theme="bootstrap"
                                class="form-control" ng-required="isCheckNeeded && isQueueReasonTeq1OrTeq3()">
                            <option ng-repeat="number in numbersOfDocumentsList track by $index" value="{{number.code}}">{{::number.title}}</option>
                        </select>
                        <span style="color: red" ng-show="submitted && electronicQueueForm.numberOfDocuments.$error.required" class="ng-hide">
                            Необходимо заполнить поле!
                        </span>
                    </div>
                </div>

                <div class="form-group ng-hide" ng-show="isQueueReasonTeq2OrTeq4()">
                    <label class="col-md-2 control-label">Количество выдаваемых документов:</label>
                    <div class="col-md-5">
                        <select name="issueDocumentAmount" ng-model="fields.issueDocumentAmount" ng-disabled="noTimeOrFormPart2()" theme="bootstrap"
                                class="form-control" ng-required="isQueueReasonTeq2OrTeq4()">
                            <option ng-repeat="docAmount in issueDocumentAmountList track by $index" value="{{docAmount.code}}">{{::docAmount.title}}</option>
                        </select>
                        <span style="color: red" ng-show="submitted && electronicQueueForm.issueDocumentAmount.$error.required" class="ng-hide">
                            Необходимо заполнить поле!
                        </span>
                    </div>
                </div>
                <div ng-show="noTimeOrFormPart2()">
                    <label>Продолжительность приема составит приблизительно <span id="period"></span> минут (кабинет № <span id="roomNumber"></span>)</label>
                </div>
                <div ng-show="noReceptionTime">
                    <label>Свободного времени приема не найдено</label>
                </div>
                <div id="fromPart2" class="ng-hide" ng-show="isformPart2">
                    <div ng-show="timeIsSelected" class="ng-hide"><label class="text-danger">Внимание! Время приема, которое Вы выбрали уже было занято. Пожалуйста, выберите другое время из предложенных вариантов:</label></div>
                    <div ng-show="organizationAlreadyScheduled" class="ng-hide"><label class="text-danger">Внимание! У Вас уже имеется запись на данную процедуру. Для осуществления записи на другое время Вам необходимо отменить ранее созданную запись.</label></div>
                    <div ng-show="wrongEmail" class="ng-hide"><label class="text-danger">Внимание! Неверно введен email </label></div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Время приема:</label>
                        <div class="col-md-10">
                            <div class="form-inline">
                                <div class="col-md-6">
                                    <p class="input-group">
                                        <input type="text" readonly class="form-control" uib-datepicker-popup ng-model="fields.receptionDate"
                                             ng-change="getSceduleTime()"
                                             is-open="popup2.opened" min-date="minDate" max-date="maxDate"
                                             datepicker-options="dateOptions"
                                             date-disabled="disabled(date, mode)"
                                             ng-required="true" close-text="Закрыть" current-text="Сегодня" clear-text="Очистить"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                                <div class="input-group col-md-4">
                                    <select name="receptionTime" id="receptionTime" ng-model="fields.receptionTime" ng-required="true" class="form-control">
                                        <option ng-repeat="time in receptionTimeList" value="{{time}}">{{::time}}</option>
                                    </select>
                                </div>
                            </div>
                            <span style="color: red" ng-show="submitted && electronicQueueForm.receptionTime.$error.required" class="ng-hide">
                                Необходимо заполнить поле!
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="col-md-2 control-label">Фамилия:</label>
                        <div class="col-md-10">
                            <input type="text" id="lastName" ng-model="fields.lastName" ng-required="true" name="lastName"/>
                            <span style="color: red" ng-show="submitted && electronicQueueForm.lastName.$error.required" class="ng-hide">
                                Необходимо заполнить поле!
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="firstName" class="col-md-2 control-label">Имя:</label>
                        <div class="col-md-10">
                            <input type="text" id="firstName" ng-model="fields.firstName" ng-required="true" name="firstName"/>
                            <span style="color: red" ng-show="submitted && electronicQueueForm.firstName.$error.required" class="ng-hide">
                                Необходимо заполнить поле!
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="middleName" class="col-md-2 control-label">Отчество:</label>
                        <div class="col-md-10">
                            <input type="text" id="middleName" ng-model="fields.middleName" name="middleName"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phone" class="col-md-2 control-label">Телефон:</label>

                        <div class="col-md-2">
                            <input type="text" id="phone" ng-model="fields.phone" name="phone"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="mobilePhone" class="col-md-2 control-label">Моб. телефон:</label>
                        <div class="col-md-10">
                            <input type="text" id="mobilePhone" ng-model="fields.mobilePhone" data-inputmask="'alias': 'phone'" name="mobilePhone"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-md-2 control-label">Эл. почта</label>
                        <div class="col-md-10">
                            <input id="email" ng-model="fields.email" ng-required="true" name="email"/>
                            <span style="color: red" ng-show="submitted && electronicQueueForm.email.$error.required" class="ng-hide">
                                Необходимо заполнить поле!
                            </span>
                            <span style="color: red" ng-show="submitted && (wrongEmail || electronicQueueForm.email.$invalid) && !electronicQueueForm.email.$error.required" class="ng-hide">
                                Неверно введен email!
                            </span>
                        </div>
                    </div>
                    <!--<div re-captcha ng-model="userCaptcha"></div>
                    <!--<div>
                        <span style="color: red" ng-show="submitted && isCaptchaEmpty()" class="ng-hide">
                            Необходимо ввести код
                        </span>
                    </div>-->
                    <div id="errorMesage" style="color: red"></div>
                </div>
                <div style="margin-top: 10px">
                    <button class="btn btn-primary ng-hide" ng-click="toFormPart2()" ng-show="!noTimeOrFormPart2()"
                            ng-disabled="toStep2ButtonDisabled(electronicQueueForm)" type="button">Продолжить</button>
                    <a href="javascript: void(0)" class="btn btn-default ng-hide" ng-show="!isformPart2">Отменить</a>
                    <button class="btn btn-primary ng-hide" type="button" ng-click="toFormPart1()" ng-show="noTimeOrFormPart2()">Назад</button>
                    <button class="btn btn-primary ng-hide" type="submit" ng-show="isformPart2">Записаться</button>
                    <!--<button class="btn btn-primary" ng-click="refreshFieldValues()" type="button">Тест</button>-->
                </div>

                <div id="toStep2ErrorMessage"></div>

            </form>
        </div>
        <div  ng-show="isFormPart3" class="ng-hide well">
            Запись успешно осуществлена<br>
            <div id="confirmedMessage"></div>
            <!--<button class="btn btn-primary" type="button" ng-click="reload()" ng-show="isformPart2">Назад</button>-->
            <button class="btn btn-primary ng-hide" type="button" ng-click="reload()" ng-show="isformPart2">Назад</button>
        </div>
    </div>
    <script src="javascript/jquery-1.12.0.min.js"></script>
    <script src="javascript/angular.min.js"></script>
    <script src="javascript/i18n/angular-locale_ru.js"></script>
    <script src="javascript/angular-route.min.js"></script>
    <script src="javascript/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="javascript/moment.min.js"></script>
    <script src="javascript/moment-timezone-with-data.min.js"></script>
    <script src="javascript/electronicQueue.js"></script>
    <script src="javascript/angular-sanitize.min.js"></script>
    <script src="javascript/bootstrap-datepicker.min.js"></script>
    <script src="javascript/select2.full.min.js"></script>
    <script src="javascript/i18n/select2/ru.js"></script>
    <script src="javascript/jquery.inputmask.bundle.min.js"></script>
</body>
</html>
