{{!
    Уведомление о смене электронного адреса (логина)
}}

{{#user}}{{>welcome}}{{/user}}

<p>
    Вы создали запрос на привязку нового адреса <strong>{{newEmail}}</strong> к Вашей странице в информационно-справочной системе.
    Новый адрес будет привязан к Вашей странице после перехода по ссылке подтверждения, высланной на новый адрес.</p>
</p>

{{>signature}}

