{{!
    Подтверждение смены электронного адреса (логина)
}}

{{#user}}{{>welcome}}{{/user}}

<p>
    В информационной системе лицензирования образовательной деятельности Рособрнадзора был сделан запрос на изменение адреса электронной почты, используемого для входа в систему.
    Если вы действительно запрашивали изменение адреса электронной почты, то пройдите по следующей <a href="{{emailChangeUrl}}">ссылке</a> (ссылка действительна 24 часа)
</p>

{{>signature}}
