<p>Вы получили данное сообщение, так как осуществили запись на {{eq.reason}} в Рособрнадзор.</p>
<br>
<p>Если все верно и {{eq.date}} в {{eq.time}} Вы придете на прием в Рособрнадзор,
    то необходимо пройти <a href="{{eq.confirmationLink}}">по ссылке</a>
</p>
<p>Обращаем Ваше внимание на то, что ссылка активна в течение 3 дней. При отсутствии подтверждения, заявка будет аннулирована!</p>
<br>
<p>Если вы не оставляли заявку, либо не сможете подойти в назначенное время, пожалуйста, пройдите <a href="{{eq.cancellationLink}}">по следующей ссылке</a> для отмены записи</p>
<br>
<p>Сведения о вашей заявке:</p>
<p>Запись на прием {{eq.date}} в {{eq.time}} (кабинет № {{eq.roomNumber}})</p>
<p>Прием и выдача документов осуществляется по адресу: ул. Шаболовка д.33</p>
<p>Тип услуги: {{eq.serviceType}}</p>
<p>Основание услуги: {{eq.serviceReason}}</p>
<br>
<p>ПОЖАЛУЙСТА, НЕ ОТВЕЧАЙТЕ НА ЭТО ПИСЬМО,</p>
<p>оно было сформировано автоматически.</p>