Изменение в текущем расписании на {{eqNew.date}}:<br/>
{{eqNew.recordStatus}}: {{eqNew.startTime}} - {{eqNew.orgFullTitle}} на {{eqNew.serviceReason}}.<br/>
<br/>
{{#eqsExisting}}
{{startTime}} - {{endTime}} {{fio}}<br/>
{{orgFullTitle}}<br/>
<br/>
{{/eqsExisting}}
