{{!
    Приглашение в информационно-справочную систему
}}

{{#user}}{{>welcome}}{{/user}}

<p>
    Вы зарегистрированы в <a href="{{loginPageUrl}}">информационной системе лицензирования образовательной деятельности Рособрнадзора</a>. <br />
    Ваш логин: <strong>{{user.email}}</strong> <br />
    Временный пароль: <strong>{{password}}</strong> <br />
    Временный пароль Вы можете изменить <a href="{{user.accountSettingsUrl}}">по ссылке</a>.
</p>

{{>signature}}