<h4>Добрый день, {{fullName}}!</h4>
<p>
{{date}} Вы отправили запрос на техническую поддержку.<br>
В ближайшее время мы свяжемся с Вами по указанным контактным данным: {{email}}{{#workPhone}}, {{{workPhone}}}{{/workPhone}}{{#mobilePhone}}, {{{mobilePhone}}}{{/mobilePhone}}.<br>
Описание проблемы:<br>
{{{description}}}<br><br>
<i>
Это письмо сформировано автоматически. Пожалуйста, не отвечайте на него.<br>
Если у Вас возникнут новые вопросы, Вы можете повторно заполнить форму технической поддержки на сайте.
</i>
</p>