{{!
    Восстановление пароля
}}

{{#user}}{{>welcome}}{{/user}}

<p>
    В информационной системе лицензирования образовательной деятельности Рособрнадзора был сделан запрос на восстановление пароля для вашей учетной записи.<br />
    Если вы действительно запрашивали восстановление пароля, то пройдите по следующей <a href="{{recoveryUrl}}">ссылке</a> (ссылка действительна 24 часа)
</p>

{{>signature}}