<p>Ваша запись на {{eq.reason}}{{#eq.isCancelled}} {{eq.date}} в {{eq.time}}{{/eq.isCancelled}} в Рособрнадзор была {{eq.changeState}}.</p>
<br>
{{#eq.isPreliminaryConfirmed}}
<p>Внимание: за 7 дней до приема Вам будет отправлено повторное письмо, на которое надо будет так же ответить.</p>
<br>
{{/eq.isPreliminaryConfirmed}}
{{#eq.isPrelimConfirmedOrConfirmed}}
<p>Если вы не оставляли заявку, либо не сможете подойти в назначенное время, пожалуйста, пройдите <a href="{{eq.cancellationLink}}">по следующей ссылке</a> для отмены записи</p>
<br>
<p>Сведения о вашей заявке:</p>
<p>Запись на прием {{eq.date}} в {{eq.time}} (кабинет № {{eq.roomNumber}})</p>
<p>Прием и выдача документов осуществляется по адресу: ул. Шаболовка д.33</p>
<p>Тип услуги: {{eq.serviceType}}</p>
<p>Основание услуги: {{eq.serviceReason}}</p>
<br>
{{/eq.isPrelimConfirmedOrConfirmed}}
<p>ПОЖАЛУЙСТА, НЕ ОТВЕЧАЙТЕ НА ЭТО ПИСЬМО,</p>
<p>оно было сформировано автоматически.</p>